*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff9500;
  --color-light-primary: #fff4e5;
  --color-white: #ffffff;
  --color-light: #f7f7f8;
  --color-gray-10: #1a1a1a;
  --color-gray-15: #262626;
  --color-gray-30: #4c4c4d;
  --color-gray-35: #59595a;
  --color-gray-40: #656567;
  --color-body: #f7f7f8;
  --color-white-95: #f1f1f3;
  --color-border: var(--color-white-95);
  --font-primary: "Be Vietnam Pro", sans-serif;
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-body);
  color: var(--color-gray-15);
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  margin: 0 0 10px;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 38px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}

p {
  margin: 0 0 24px;
}

a {
  transition-property: background, border, color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  text-decoration: none;
  color: var(--color-gray-15);
}
a:hover {
  color: var(--color-primary);
}
a:focus {
  outline: 1px dashed var(--color-gray-10);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
button {
  appearance: none;
  font-family: var(--font-primary);
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  transition-property: background, border, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page-holder {
  flex-grow: 1;
}
/* Utility classes */
.accessibility {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.accessibility:focus {
  position: static;
  width: auto;
  height: auto;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.align-content-start {
  align-content: start;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 12px;
  border: 1px solid var(--color-border);
}
.card p {
  margin-bottom: 0;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.text-primary {
  color: var(--color-primary);
}
/* Global components */
.btn {
  --btn-border-color: var(--color-border);
  --btn-bg-color: var(--color-white);
  --btn-text-color: var(--color-gray-15);
  --btn-hover-text-color: var(--color-gray-15);
  --btn-hover-bg-color: transparent;
  --btn-hover-border-color: var(--color-gray-15);
  --btn-border-width: 1px;
  --btn-gap: 23px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--btn-gap);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding: 18px 22px;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: 8px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn__icon {
  display: inline-flex;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  line-height: 1;
}
.btn__icon path {
  transition-property: stroke, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
  border-color: var(--btn-hover-border-color);
}
.btn--md {
  padding: 18px 28px;
}
.btn--primary {
  --btn-border-color: var(--color-primary);
  --btn-bg-color: var(--color-primary);
  --btn-text-color: var(--color-white);
  --btn-hover-text-color: var(--color-primary);
  --btn-hover-border-color: var(--color-primary);
  --btn-hover-bg-color: transparent;
}
.btn--primary:hover .btn__icon path {
  fill: var(--btn-hover-text-color);
}
.btn--light {
  --btn-border-color: var(--color-border);
  --btn-bg-color: var(--color-light);
  --btn-text-color: var(--color-gray-15);
  --btn-hover-text-color: var(--color-gray-15);
  --btn-hover-border-color: var(--color-light);
  --btn-hover-bg-color: transparent;
}
.btn--gray {
  --btn-border-color: var(--color-border);
  --btn-bg-color: #fcfcfd;
  --btn-text-color: var(--color-gray-15);
  --btn-hover-text-color: var(--color-primary);
  --btn-hover-border-color: var(--color-primary);
  --btn-hover-bg-color: transparent;
}
.btn--full {
  display: flex;
  width: 100%;
}
.btn--arrow:hover .btn__icon {
  transform: rotate(45deg);
}
.btn--circled-arrow {
  justify-content: space-between;
}
.btn--circled-arrow .btn__icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--color-white);
  justify-content: center;
  align-items: center;
}
/* Header */
.header {
  padding: 20px 30px 0;
}
.header__bottom {
  padding: 20px 0 24px;
  border-bottom: 1px solid var(--color-border);
}
.header__inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  flex: 1;
}
.header__logo a {
  display: flex; /* to remove small space between img and anchor tag */
}
.header__inner .menu {
  display: flex;
  align-items: center;
  gap: 26px;
}
.header__inner .menu a {
  font-size: 18px;
  color: var(--color-gray-15);
}
.header__inner .menu a:hover {
  color: var(--color-primary);
}
.header__inner .menu .active a {
  padding: 14px 24px;
  border-radius: 8px;
  background-color: var(--color-white-95);
  color: var(--color-gray-15);
}
.auth__menu .menu {
  gap: 30px;
}
.menu .header__btn a {
  font-size: 18px;
  padding: 14px 33px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.menu .header__btn a:hover,
.menu .header__btn a:focus {
  outline: none;
  background-color: transparent;
  color: var(--color-primary);
}
.btn--header img {
  margin-right: -3px;
}
.banner-block {
  padding: 100px 0 102px;
  text-align: center;
}
.banner__title {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-border);
  border-radius: 11px;
  padding: 12px 19px 12px 22px;
  max-width: 855px;
  margin: 0 auto 20px;
  position: relative;
  background-color: var(--color-white);
}
.banner__title::before {
  content: "";
  width: 39px;
  height: 43px;
  position: absolute;
  top: -30px;
  left: -24px;
  background: url("./../img/abstract-line.svg") no-repeat center center;
  background-size: contain;
}
.banner__title .title__icon {
  width: 62px;
  height: 62px;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-primary);
  border-radius: 6px;
}
.banner__title h1 {
  margin-bottom: 0;
}
.banner-block .h2 {
  margin-bottom: 10px;
}
.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 61px;
}
.banner__btn .btn {
  padding: 17px 25px;
}
.partner__logos {
  padding: 28px;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}
.partner__logo {
  flex: 1;
  position: relative;
  min-height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.partner__logo:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-border);
}
.video-block {
  padding: 102px 0 50px;
}
.video-block img {
  border-radius: 12px;
}
.title-holder {
  display: flex;
  justify-content: space-between;
  gap: 300px;
  align-items: end;
  margin-bottom: 80px;
}
.title-holder .title__heading {
  font-size: 48px;
  margin-bottom: 5px;
}
.title-holder .title__btn {
  flex-shrink: 0;
}
.title-holder p:last-child {
  margin-bottom: 0;
}
.benefits-block {
  padding: 101px 0;
}
.benefit--card {
  align-items: flex-end;
  gap: 48px;
  padding: 48px 50px 51px;
  background-color: var(--color-white);
  color: var(--color-gray-30);
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  border: none;
}
.benefit--card:hover {
  box-shadow: 0 0 40px rgba(255, 149, 0, 0.06);
}
.benefit--card .card__count {
  color: var(--color-gray-15);
  font-size: 60px;
  font-weight: 700;
  line-height: 0.8;
}
.benefit--card p {
  margin-bottom: 0;
}
.benefit--card .card__title {
  color: #333333;
  margin-bottom: 14px;
}
.benefit--card .card__btn .btn {
  padding: 0;
  width: 74px;
  height: 74px;
}
.benefit--card .card__btn .btn svg {
  width: 34px;
  height: auto;
}

.card--course {
  height: 100%;
  padding: 50px 48px 46px 50px;
  gap: 30px;
}
.card--course .card__img {
  aspect-ratio: 683.5 / 379;
  border-radius: 8px;
  overflow: hidden;
}
.card--course .card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}
.card--course:hover .card__img img {
  transform: scale(1.2);
}
.card--course .card__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -3px;
}
.card--course .card__body {
  margin-left: -2px;
}
.card--course .card__title {
  margin-bottom: 14px;
}
.card--course .card__author {
  font-size: 20px;
  font-weight: 500;
}
.card__tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card__tags a {
  display: inline-block;
  padding: 9px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  line-height: 1.27;
}
.card__tags a:hover,
.card__tags a:focus {
  outline: none;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.card--course .card__btn {
  margin-top: auto;
}
.testimonials-block {
  padding: 116px 0 170px;
}
.card--testimonial .card__body {
  padding: 50px 49px;
}
.card--testimonial .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 49px;
  border-top: 1px solid var(--color-border);
}
.author-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
.author-profile .author__img {
  width: 60px;
  aspect-ratio: 1;
}
.author-profile .author__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.author-profile .author__name {
  font-weight: 600;
}

/* tab */
[data-tab-btns] {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--color-white);
}
[data-tab-btn] {
  padding: 14px 30px;
}
.btn--primary[data-tab-btn]:focus {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn[data-tab-btn] {
  --btn-border-color: var(--color-white);
  --btn-hover-border-color: var(--color-white);
}
[data-tab-content] {
  display: none;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 80px;
}
[data-tab-content][aria-expanded="true"] {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* pricing card */
.card--pricing {
  padding: 49px 29px 29px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  background-color: var(--color-light);
  gap: 50px;
}
.card--pricing .card__label {
  background-color: #fff9f0;
  border: 1px solid #ffeacc;
  border-radius: 6px;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.69;
  text-align: center;
}
.card__feature-wrap {
  display: flex;
  flex-direction: column;
}
.card__features {
  border: 1px solid var(--color-border);
  border-radius: 14px 14px 0 0;
  background-color: var(--color-white);
  padding: 36px 39px 42px;
}
.card--pricing .btn {
  border-radius: 0 0 8px 8px;
}
.card--pricing .card__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 30px;
}
.card__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.card__price .price {
  font-weight: 600;
  font-size: 80px;
  line-height: 0.8;
}
.card__price .price-label {
  font-size: 20px;
  line-height: 0.95;
}
.feature__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;
  color: var(--color-gray-30);
}
.feature__list li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 13px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}
.feature__list li::before {
  content: "";
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  background: #fff4e5 url("./../img/icon-check.svg") no-repeat center center;
  background-size: 14px 12px;
  border-radius: 6px;
  border: 1px solid #fff4e5;
}
.feature__list li.not-included::before {
  background-color: transparent;
  background-image: url("./../img/icon-cross.svg");
  background-size: 10px;
  border-color: var(--color-border);
}
/* faq */
.faq-block {
  padding: 150px 0 142px;
}
.faq__holder {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  border-radius: 12px;
  background-color: var(--color-white);
}
.faq__content {
  width: 38%;
  padding-right: 120px;
}
.faq__content .h1 {
  line-height: 1.21;
}
.faq__content .faq__description {
  line-height: 1.6;
  margin-bottom: 48px;
}
.faq__btn .btn {
  padding: 17px 25px;
}
.faq__holder .accordion {
  width: 62%;
}

/* accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.accordion .ac {
  overflow: hidden;
  transition-property: padding;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  padding: 30px 48px 29px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
}
.accordion .ac.is-active {
  padding: 50px 48px;
}
.ac-panel {
  opacity: 0;
}
.is-active .ac-panel {
  opacity: 1;
}
.ac-panel p {
  margin-bottom: 50px;
}
.ac-panel :last-child {
  margin-bottom: 0;
}
.accordion .ac-header {
  margin-bottom: 0;
  transition-property: padding, margin;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.is-active .ac-header {
  padding-bottom: 24px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-border);
}
.accordion .ac-trigger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  line-height: 1.5;
}
.accordion .ac-trigger::after {
  content: "";
  flex-shrink: 0;
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  background: #fff4e5 url("./../img/icon-plus.svg") no-repeat center center;
  background-size: 14px;
  transition: all 0.3s ease-in-out;
}
.accordion .is-active .ac-trigger::after {
  background-image: url("./../img/icon-cross.svg");
  background-size: 12px;
}
/* footer */
.footer {
  color: #656567;
  background-color: var(--color-white);
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  padding: 100px 0 30px;
}
.footer__top .footer__col {
  padding: 0 12px;
}
.footer__top .footer__col:nth-child(1) {
  width: 48.6%;
}
.footer__top .footer__col:nth-child(2) {
  width: 17.4%;
}
.footer__top .footer__col:nth-child(3) {
  width: 17%;
}
.footer__top .footer__col:nth-child(4) {
  width: 17%;
}
.footer__logo {
  margin-bottom: 39px;
}
.footer__icon-list li a {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer__icon-list li svg {
  margin-right: 6px;
  flex-shrink: 0;
}

.footer__title {
  display: block;
  color: var(--color-gray-10);
  font-size: 20px;
  margin-bottom: 13px;
}
.footer__menu li {
  margin-bottom: 8px;
}
.footer__menu a {
  color: #59595a;
}
.footer__menu a:hover {
  color: var(--color-primary);
}
.footer__copyright {
  border-top: 1px solid var(--color-border);
  padding: 49px 0 30px;
  text-align: center;
}
.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
}
.social-media a {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border);
  background-color: var(--color-light);
  border-radius: 8px;
}
@media (min-width: 1024px) {
  .container {
    max-width: 1320px;
  }
  .container--lg {
    max-width: 1860px !important;
  }
  .nav__toggler {
    display: none;
  }
}
@media (min-width: 1480px) {
  .container {
    max-width: 1636px;
  }
  .btn--header {
    padding: 13px;
  }
  .benefit--card .card__count {
    font-size: 80px;
  }
}
