*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #ff9500;
  --color-light-primary: #fff4e5;
  --color-white: #ffffff;
  --color-light: #f7f7f8;
  --color-gray: #4c4c4d;
  --color-dark: #1a1a1a;
  --color-text: #262626;
  --color-body: #f7f7f8;
  --color-light-gray: #f1f1f3;
  --color-border: var(--color-light-gray);
  --font-primary: "Be Vietnam Pro", sans-serif;
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-body);
  color: var(--color-text);
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  margin: 0 0 6px;
}

h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 38px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}

p {
  margin: 0 0 20px;
}

a {
  transition-property: background, border, color, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition-property: background, border, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Utility classes */
.accessibility {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.accessibility:focus {
  position: static;
  width: auto;
  height: auto;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.flex {
  display: flex;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.text-primary {
  color: var(--color-primary);
}
/* Global components */
.btn {
  --btn-border-color: var(--color-border);
  --btn-bg-color: var(--color-white);
  --btn-text-color: var(--color-text);
  --btn-hover-text-color: var(--color-text);
  --btn-hover-bg-color: transparent;
  --btn-hover-border-color: var(--color-text);
  --btn-border-width: 1px;
  --btn-gap: 23px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--btn-gap);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 22px;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: 8px;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  transition-property: background, color, border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn__icon {
  line-height: 1;
}
.btn__icon path {
  transition-property: stroke, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.btn:hover,
.btn:focus {
  outline: none;
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-text-color);
  border-color: var(--btn-hover-border-color);
}
.btn--primary {
  --btn-border-color: var(--color-primary);
  --btn-bg-color: var(--color-primary);
  --btn-text-color: var(--color-white);
  --btn-hover-text-color: var(--color-primary);
  --btn-hover-border-color: var(--color-primary);
  --btn-hover-bg-color: transparent;
}
.btn--primary:hover .btn__icon path {
  fill: var(--btn-hover-text-color);
}
.btn--full {
  display: flex;
  width: 100%;
}

/* Header */
.header {
  padding: 20px 30px 0;
}
.header__bottom {
  padding: 20px 0 24px;
  border-bottom: 1px solid var(--color-border);
}
.header__inner {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  flex: 1;
}
.header__logo a {
  display: flex; /* to remove small space between img and anchor tag */
}
.header__inner .menu {
  display: flex;
  align-items: center;
  gap: 26px;
}
.header__inner .menu a {
  font-size: 18px;
  color: var(--color-text);
}
.header__inner .menu a:hover {
  color: var(--color-primary);
}
.header__inner .menu .active a {
  padding: 14px 24px;
  border-radius: 8px;
  background-color: var(--color-light-gray);
  color: var(--color-text);
}
.auth__menu .menu {
  gap: 30px;
}
.menu .header__btn a {
  font-size: 18px;
  padding: 12px 32px;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
}
.menu .header__btn a:hover {
  background-color: transparent;
}
.banner__content {
  padding: 100px 0;
  text-align: center;
}
.banner__title {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-border);
  border-radius: 11px;
  padding: 12px 19px 12px 29px;
  max-width: 854px;
  margin: 0 auto 20px;
  position: relative;
}
.banner__title::before {
  content: "";
  width: 39px;
  height: 43px;
  position: absolute;
  top: -30px;
  left: -24px;
  background: url("./../img/abstract-line.svg") no-repeat center center;
  background-size: contain;
}
.banner__title .title__icon {
  width: 62px;
  height: 62px;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-primary);
  border-radius: 6px;
}
.banner__title h1 {
  margin-bottom: 0;
}
.banner-block .h2 {
  margin-bottom: 10px;
}
.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 60px;
}
.banner__logos {
  padding: 28px;
  border-radius: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}
.banner__logo {
  flex: 1;
  position: relative;
  min-height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.banner__logo:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--color-border);
}
@media (min-width: 1024px) {
  .container {
    max-width: 1320px;
  }
  .container--lg {
    max-width: 1920px !important;
  }
  .nav__toggler {
    display: none;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1636px;
  }
}
